<!--========== HEADER ==========-->
<header class="header navbar-fixed-top">
			<!-- Navbar -->
      <nav class="navbar navbar-expand-sm bg-light justify-content-end" >
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
              <!-- Logo -->
              <div class="logo">
                  <a href="/">
                      <img class="logo-img" src="{{ site.logo" }}" alt="ISCiii_Bio_Informatic_Logo">
                  </a>
              </div>
              <!-- End Logo -->

              <!-- Collect the nav links -->

                  <div class="menu-container">
                      <ul class="navbar-nav">
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/tutorials">HOME</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/faqs">PEOPLE</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/utils/user_creation">RESEARCH</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/contact">SOFTWARE</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/contact">TRAINIG</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/contact">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
          <!-- class menu-container -->
      </nav>
      <!-- Navbar -->
</header>
