---
layout: base
---

{% include _includes/default-header.html %}
{% assign contributors = site.data['contributors'] %}

{% assign sorted_topics = "" | split: "," %}
{% assign sorted_topics_pre = site.data | sort | order: "title" %}

{% for topic in sorted_topics_pre %}
    {% if topic[0] == "introduction" %}
        {% assign sorted_topics = sorted_topics | unshift: topic %}
    {% else %}
        {% assign sorted_topics = sorted_topics | push: topic %}
    {% endif %}
{% endfor %}

<div class="row row-space-2 margin-b-4">
    <div class="col-sm-10" >
      <div class="panel panel-default">
        <div class="panel-heading"><H2>Services</H2></div>
        <div class="panel-body">
            <p>BU-ISCIII supports bioinformatic analysis to BU-ISCIII researchers offering different services based on the institution demand. The services available are describe in the service portfolio,and are managed following the BU-ISCIII service management protocol.</p>
        </div> <!--  end of panel body -->
      </div> <!--  end of panel  -->
   </div> <!--  end of col-sm-10 -->
</div> <!--  end of row -->

{% include _includes/default-footer.html %}
